<%= image_tag "WeTalky_main_logo.png", alt: "WeTalky logo" %>
</br>
<%= link_to "View student profiles", profiles_path%>
<h1>We Talky makes practicing languages fun!</h1>

<p>This mockup application is inspired by (but in no way related to) the website italki. Italki brings together language teachers and students, allowing people from different parts of the world to schedule lessons together using an agreed plaform such as Skype.</p>

<p>Traditional language exchanges betwen students online are difficult and time consuming to co-ordinate, so the WeTalky concept is to allow the same scheduling functionality for practice sessions between language students who want to arrange practice without the cost of a teacher. </p>

<p>Students can create exchange slots in an online market place for potential exchange partners to browse student profiles and "book" exchanges. The site also allows limited communication between students. It will be a free site with an option to make donations. </p>